<div class="eqLogic eqLogic-widget allowResize" style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;width: 290px;height: #height#; padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	<link rel="stylesheet" href="plugins/todo/core/template/dashboard/css/style.css" />
<center><a href="#eqLink#" style="font-size : 1.5em;#hideEqLogicName#">#name_display# </a></center>
    <div class="row" style="margin:2px;">
		<div class="col-lg-10"> 
        	<div class="input-group" >
            	<span class="input-group-addon" id="sizing-addon2">New</span>
                <input id="#id#" type="text" class="form-control" placeholder="Todo" aria-describedby="sizing-addon2" >
            </div>
         </div>
         <button value="#id#" type="button" class="btn btn-success btn_add">Add!</button>
    </div>
        
	<ul class="list-group" style="margin:10px;">
		#li#
	</ul>
<script type="text/javascript">
	$(document).ready(function() {
		$('.list-group :checkbox').change(function() {
			id = $(this).val();
			li = $('#'+id).text();
			if(this.checked) {
				$('#'+id).css("text-decoration", "line-through");
				changeTodo('check', id, 0)
			} else {
				$('#'+id).css("text-decoration", "none");
				changeTodo('check', id, 1)
			}
			
		});
		
			
				
		$( ".btn_add" ).unbind().on('click', function() {
			id = $(this).val();
			input = $('#'+id).val();
			if (input == '') {
				return
			}
			//$("ul").append('<li id="'+ id + '" class="list-group-item" style="background-color:transparent;font-size : 0.9em;">' + input + '</li>')
			val = 'val';
			changeTodo(id,input,val);
			
		});
		
		$( ".delete").on('click', function() {
			idcmd = $(this).attr('alt'); 
			id = $(this).attr('name');
			changeTodo('del',idcmd,id)
			
		});
		
		$( ".edit" ).unbind().on('click', function() {
			idcmd = $(this).attr('alt'); 
			$('#md_modal').dialog({
				width : 400,
				height: 400,
				autoOpen: false,
				modal: true,
				
				title: "Informations"
			});
            $('#md_modal').load('index.php?v=d&plugin=todo&modal=editcmd&id='+ idcmd);		
			$('#md_modal').dialog('open');
		});		
	

		function changeTodo(_action,_idcmd, _id) {
			$.ajax({// fonction permettant de faire de l'ajax
				type: "POST", // methode de transmission des données au fichier php
				url: "plugins/todo/core/ajax/todo.ajax.php", // url du fichier php
				data: {
					action: "changeTodo",
					acte: _action,
					idcmd: _idcmd,
					id: _id
				},
				dataType: 'json',
				error: function(request, status, error) {
					handleAjaxError(request, status, error);
				},
				success: function(data) { // si l'appel a bien fonctionné
					if (data.state != 'ok') {
						$('#div_alert').showAlert({message:  data.result,level: 'danger'});
						return;
					}
				if (_action != 'check') {
					 location.reload();
				}
				
				}
			});			
		}
	});
</script>



</div>