<div class="todo eqLogic eqLogic-widget " style="border:#border#;border-radius:#border-radius#;background-color: #background-color#;color: #color#;#style#;min-height: #min-height#px;min-width: #min-width#px;padding : 0px;" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="#version#" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#">	
	<link href="3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="plugins/todo/core/template/mobile/css/style.css" />   
    <script src="3rdparty/bootstrap/bootstrap.min.js"></script>  
    <script src="plugins/todo/core/template/mobile/js/todo.js"></script>
	<center>
		<span class="widget-name">
			<span style="#hideEqLogicName#">#name_display# <span class="object_name">#object_name#</span></span><br/>
		</span>
	</center> 
   <div class="row" style="margin:5px;">
        <form autocomplete="off" >
          <div class="autocomplete col-lg-9" style="width:250px;">
            <input id="#id#" style="color:white;background-color:#374D89;padding: 10px;" type="text" class="form-control" placeholder="Todo">
          </div>
          <button value="#id#" type="button" class="btn btn-success btn_add" style="width:50px;">Go</button>
        </form>            
    </div>
	<div class="list_mobile" style="margin:10px; overflow-y: auto;max-height:#min-height-list#px;min-width:#min-width-list#px;">
        <ul class="list-group">
        </ul>
  	</div>
    <script>
		loadData('#id#');
	</script>    
</div>